In [50]:
import pymongo
import pandas as pd

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\supraja.yarramsetti\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\supraja.yarramsetti\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
client = pymongo.MongoClient("mongodb+srv://sup:Sup2023@cluster0.klxaggu.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [52]:
import json

In [66]:
data_file_path = "C:/Users/supraja.yarramsetti/Downloads/archive (2)/insurance.csv"

database_name = "insurence"
collection_name = 'insurence_project'

In [86]:
df = pd.read_csv(data_file_path)
df

     age  sex     bmi  children  smoker  region      charges
0     19    0  27.900         0       1       3  16884.92400
1     18    1  33.770         1       0       2   1725.55230
2     28    1  33.000         3       0       2   4449.46200
3     33    1  22.705         0       0       1  21984.47061
4     32    1  28.880         0       0       1   3866.85520
..   ...  ...     ...       ...     ...     ...          ...
343   63    1  36.765         0       0       0  13981.85035
344   49    0  41.470         4       0       2  10977.20630
345   34    0  29.260         3       0       2   6184.29940
346   33    1  35.750         2       0       2   4889.99950
347   46    1  33.345         1       0       0   8334.45755

[348 rows x 7 columns]

In [87]:
df.reset_index(drop = True,inplace = True)

In [88]:
json_record = list(json.loads(df.T.to_json()).value())

AttributeError: 'dict' object has no attribute 'value'

In [67]:
df = pd.read_csv(data_file_path)
print(f"Rows and Columns:{df.shape}")

df.reset_index(drop = True,inplace = True)

    # to make the data as key value pair as mongo db works as key_value pair
    #T --> transpose

Rows and Columns:(348, 7)

In [83]:
if __name__=='__main__':
    df = pd.read_csv(data_file_path)
    print(f"Rows and Columns:{df.shape}")

    df.reset_index(drop = True,inplace = True)

    # to make the data as key value pair as mongo db works as key_value pair
    #T --> transpose 

   
    json_record = list(json.loads(df.T.to_json()).keys())
    print(json_record[0])

    client[database_name][collection_name].insert_many(json_record)

Rows and Columns:(348, 7)
0

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

In [60]:
#create db
db_name = 'std1'
std_db = client[db_name]

In [5]:
#create collection

collection = 'std_db'

In [6]:
std_details_collection = std_db[collection]

In [7]:
#document create
std_data = {
    'name':'supraja',
    'college':'spmvv',
    'address':'Tirupathi',
    'roll_no':177507
}

In [8]:
#insert
std_details_collection.insert_one(std_data)

In [9]:
#fetching

std_corsor = std_details_collection.find()

In [10]:
std_corsor

In [11]:
std_corsor.next()

{'_id': ObjectId('63d7a5d8bd332d53128a743d'),
 'name': 'supraja',
 'college': 'spmvv',
 'address': 'tpt'}

In [12]:
std_corsor.next()

{'_id': ObjectId('63d7a767bd332d53128a743e'),
 'name': 'supraja',
 'college': 'spmvv',
 'address': 'Tirupathi',
 'roll_no': 177507}

In [13]:
for std_details in std_details_collection.find():
    print(std_details)

{'_id': ObjectId('63d7a5d8bd332d53128a743d'), 'name': 'supraja', 'college': 'spmvv', 'address': 'tpt'}
{'_id': ObjectId('63d7a767bd332d53128a743e'), 'name': 'supraja', 'college': 'spmvv', 'address': 'Tirupathi', 'roll_no': 177507}
{'_id': ObjectId('63d7ad35bd332d53128a743f'), 'name': 'swarna', 'course': 'ds'}
{'_id': ObjectId('63d7ad35bd332d53128a7440'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7ad35bd332d53128a7441'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e647bd332d53128a7442'), 'name': 'swarna', 'course': 'ds'}
{'_id': ObjectId('63d7e647bd332d53128a7443'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e647bd332d53128a7444'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6833e75d76dd33f5e99'), 'name': 'supraja', 'college': 'spmvv', 'address': 'Tirupathi', 'roll_no': 177507}

In [19]:
#insert multipel records
std_data_list = [{'name':'swarna','course':'ds'},
                 {'city':'tpt','name':'sima','college':'spmvv'},
                {'name':'bittu','books':'ml','job':'data analytics'}
                ]

In [20]:
std_details_collection.insert_many(std_data_list)

In [21]:
#filter operation

In [22]:
query ={'name':'sima'}

In [23]:
for std_details in std_details_collection.find(query):
    print(std_details)

{'_id': ObjectId('63d7ad35bd332d53128a7440'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e647bd332d53128a7443'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9b'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9e'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}

In [30]:
for std_details in std_details_collection.find({'name':'swarna','college':'spmvv'}):
    display(std_details)

In [31]:
display(std_details)

{'_id': ObjectId('63d7e6a73e75d76dd33f5e9e'),
 'city': 'tpt',
 'name': 'sima',
 'college': 'spmvv'}

In [32]:
query1 = {'name':'bittu','books':'ml'}

In [40]:
#regular Expression
#name statinmg with b

my_query = {'name':{'$regex':'^b'}}

In [41]:
doc = std_details_collection.find(my_query)

for x in doc:
    print(x)

{'_id': ObjectId('63d7ad35bd332d53128a7441'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e647bd332d53128a7444'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9c'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9f'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}

In [45]:
#sort
#sort in alphabetical order
doc = std_details_collection.find().sort('name')
for x in doc:
    print(x)

{'_id': ObjectId('63d7ad35bd332d53128a7441'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e647bd332d53128a7444'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9c'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9f'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7ad35bd332d53128a7440'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e647bd332d53128a7443'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9b'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9e'), 'city': 'tpt', 'name': 'sima', 'college': 'spmvv'}
{'_id': ObjectId('63d7a5d8bd332d53128a743d'), 'name': 'supraja', 'college': 'spmvv', 'address': 'tpt'}
{'_id': ObjectId('63d7a767bd332d53128a743e'), 'name': 'supraja', 'college': 'spmvv', 'address': 'Tirupathi', 'roll_no': 177507}
{'_id': ObjectId('63d7e6833e75d76dd33f5e99'), 'name': 'supraja', 'college': 'spmvv', 'address': 'Tirupathi', 'roll_no': 177507}
{'_id': ObjectId('63d7ad35bd332d53128a743f'), 'name': 'swarna', 'course': 'ds'}
{'_id': ObjectId('63d7e647bd332d53128a7442'), 'name': 'swarna', 'course': 'ds'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9a'), 'name': 'swarna', 'course': 'ds'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9d'), 'name': 'swarna', 'course': 'ds'}

In [ ]:
#deleting operation one columan

In [46]:
my_query = {'name':'swarna'}
std_details_collection.delete_one(my_query)

In [48]:
#deleting operation multiple columan

del_mul = {'name':{'$regex':'^s'}}

x = std_details_collection.delete_many(del_mul)
print(x.deleted_count,'deleted count')

10 deleted count

In [49]:
for i in std_details_collection.find():
    print(i)

{'_id': ObjectId('63d7ad35bd332d53128a7441'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e647bd332d53128a7444'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6853e75d76dd33f5e9c'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}
{'_id': ObjectId('63d7e6a73e75d76dd33f5e9f'), 'name': 'bittu', 'books': 'ml', 'job': 'data analytics'}